#ContentListQuizzes{
    background-color: rgba(208,97,0,0.68);
    color: white;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px black;
}

#containerOfQuizzes{
    background-color: rgba(95,95,95,0.7);
    color: white;
    overflow-y: scroll;
   
    height: 500px;
    border-radius: 20px;
}

#containerOfOneQuiz{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 3px 1px black;
}

#tittleQuiz{
    margin-left: 10px;
}

.FooterQuizAnswer{
    background: rgba(251,176,74,0.3);
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-top: 500px;
    border-radius: 20px;
}

.App-link {
    color: #353ffb;
}

#cuadroNota{
    background: rgb(255, 102, 0);
    height: 100px;
    width: 130px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 10px;
    padding: 4px;
    border-radius: 10px;
}
#notaQuiz{
    color: black;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px; 
    margin-bottom: 10px;
}

a[id^=answerQuizButton]{
    background-color: rgb(0, 163, 0);
    border-radius: 10px;
    height: 50px;
    width: 100px;
    margin-bottom: 8px;
    margin-top: 70px;
    margin-left: 15px;
}

#listQuizBackButton{
    padding: 5px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 30px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(223, 119, 0);
}

label[id^=idOfQuiz]{
    font-size: 20px;
}

#infoOfQuiz{
    margin-left: 20px;
    margin-top: 5px;
}