#ContentQuestionModification{
    background-color: rgba(208,97,0,0.68);
    color: white;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px black;
}

#containerOfQuestionsToChange{
    background-color: rgba(95,95,95,0.7);
    color: white;
    overflow-y: scroll;
    height: 500px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
}

div[id^=containerOfOneQuestionToChange]{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 98%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 3px 1px black;
}

#listQuizzesModificationBackButton{
    color: black;
    padding: 5px;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 30px;
    margin-left: 30px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgba(95, 238, 0, 0.877);
}

#idOfQuiz{
    font-size: 20px;
}

#headerDeInformacion{
    margin-left: 20px;
    margin-top: 5px;
    width: 150px;
}

label[id^=numeroDeQuiz]{
    margin-left: 20px;
    margin-top: 5px;
    width: 150px;
    font-size: 20px;
}

label[id^=infoOfQuiz]{
    margin-left: 20px;
    margin-top: 5px;
    width: 250px;
}

label[id^=cantidadPreguntasQuiz]{
    margin-left: 20px;
    margin-top: 5px;
    font-size: 20px;
    width: 150px;
}

label[id^=cantidadPreguntasPozo]{
    margin-left: 20px;
    margin-top: 5px;
    width: 150px;
    font-size: 20px;
    text-justify: auto;
}

#cssButtonConfigure{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[id^=inputCantidadPreguntasQuiz]{
    display: none;
}

input[id^=inputDescripcion]{
    display: none;
}

button[id^=configurateButtonQuiz]{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 50px;
    width: 50px;
    font-family: "Font Awesome\ 5 Free";
    content: "\f013";
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button[id^=checkButtonQuiz]{
    display: none;
    background-color: rgba(51, 255, 0, 0.815);
    border-radius: 20px;
    height: 50px;
    width: 50px;
    font-family: "Font Awesome\ 5 Free";
    content: "\f00c";
    font-size: 35px;
    align-items: center;
    justify-content: center;
}