.ContentLogin{
    height: 90%;
    font-family: 'Roboto', sans-serif;
}

.main-section{
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content{
    background-color: rgba(58, 76, 82, 0.9);
    padding: 0 5px;
    box-shadow: 0px 0px 50px #282c34;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 30px;
}

.user-img img{
    border-radius: 18px;
    box-shadow: 0px 0px 5px #282c34;
}

#usernameInput input{
    margin-bottom: 30px;
    height: 35px;
    padding-left: 50px;
}

#usernameInput::before{
    font-family: "Font Awesome\ 5 Free";
    content: "\f007";
    position: absolute;
    margin-right: 30px;
    font-size: 22px;
    left: 25px;
}

#passwordInput input{
    margin-bottom: 30px;
    height: 35px;
    padding-left: 50px;
}

#passwordInput::before{
    font-family: "Font Awesome\ 5 Free";
    content: "\f084";
    position: absolute;
    margin-right: 30px;
    font-size: 22px;
    left: 25px;
}

.forgot{
    margin-top: 15px;
    margin-bottom: 15px;
}

.forgot a{
    color: rgba(192,234,253,0.9);
}

#loginButton{
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: rgba(234,105,11,0.9);
}

#loginButton:hover, #loginButton:focus{
    background-color: rgba(155,74,11,0.9)!important;
}

.fa-sign-in-alt{
    font-size: 18px;
    margin-right: 11px;
    margin-top: 7px;
}

#footerLoginView{
    background: rgba(251,176,74,0.3);
    margin: 0 auto;
    margin-top: 500px;
    text-align: center;
    width: 90%;
    border-radius: 50px;
}

.App-link {
    color: #353ffb;
}