#ContentQuizAnswer{
    background-color: rgba(208,97,0,0.68);
    color: white;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px black;
}


#containerOfQuestions{
    background-color: rgba(95,95,95,0.7);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: block;
}
div[id^=containerOneQuestion]{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 3px 1px black;
}

#containerOfSummary{
    background-color: rgba(95,95,95,0.7);
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: none;
}

div[id^=containerOfOneResult]{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    box-shadow: 0px 0px 3px 1px black;
}

#ResultadoNotaQuiz{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
    width: 20%;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    box-shadow: 0px 0px 3px 1px black;
}

#textoResultadoNotaQuiz{
    font-size: 40px;
    text-align: center;
}

#timeRemaining::before{
    font-family: "Font Awesome\ 5 Free";
    content: '\f017';
    margin-left: 15px;
    margin-top: 20px;
}

label[id^=textoPregunta]{
    white-space: pre-wrap;
    margin-left: 20px;
}

label[id^=ingresePreguntaText]{
    margin-left: 15px;
    margin-top: 10px;
}

label[id^=respuestaIngresadaSummary]{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 17px;
}

label[id^=respuestaCorrectaSummary]{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 17px;
}

input[id^=respuesta]{
    width: 35%;
}

#answerQuizBackButton{
    padding: 5px;
    padding-top: 10px;
    margin-top: 50px;
    margin-left: 60px;
    margin-bottom: 30px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
}

#questionTittle{
    font-size: 20px;
    margin-left: 40px;
}

div[id^=textOfQuestion]{
    background-color: rgba(0, 2, 100, 0.658);
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 0px 3px 1px black;
}