#ContentQuizAnswer{
    background-color: rgba(208,97,0,0.68);
    color: white;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px black;
}

#containerOfQuizzes{
    background-color: rgba(95,95,95,0.7);
    color: white;
    overflow-y: scroll;
    height: 500px;
    border-radius: 20px;
}

#containerOfOneQuiz{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 50px;
    width: 50%;
    border-radius: 15px;
}

#tittleQuiz{
    margin-left: 10px;
}

.FooterQuizAnswer{
    background: rgba(251,176,74,0.3);
    margin: 0 auto;
    text-align: center;
    width: 90%;
    margin-top: 500px;
    border-radius: 20px;
}

.App-link {
    color: #353ffb;
}