.ContentNewQuestion{
    background-color: rgba(208,97,0,0.68);
    color: white;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px black;
}

#addVariable{
    font-family: "Font Awesome\ 5 Free";
    content: "\f0fe";
    background-color: black;
    border-radius: 10px;
    width: 10%;
}

#addVariable:hover{
    background-color: rgba(41, 41, 41, 0.9) !important;
}

#addVariablesContent{
    color: white;
    background-color: rgba(95,95,95,0.7);
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 20px;
}

#addCodeContent{
    color: white;
    background-color: rgba(95,95,95,0.7);
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
    padding: 20px;
    border-radius: 15px;
}

#contenedorVariables{
    background-color: rgba(0, 132, 219, 0.664);
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 3px 1px black;
}

#containerOneVariable{
    background-color: rgba(0, 3, 151, 0.596);
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 25%;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    box-shadow: 0px 0px 3px 1px black;  
}

#titleAddVariablesContent{
    text-justify: auto;
    font-size: 30px;
}

#backButton{
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    float: left;
    background-color: rgba(234,105,11,0.9);
}

#backButton:hover, #backButton:focus{
    background-color: rgba(155,74,11,0.9)!important;
}

#submitQuestionButton{
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    float: right;
    background-color: rgb(32, 160, 0);
}

#submitQuestionButton:hover, #submitQuestionButton:focus{
    background-color: rgb(23, 116, 0)!important;
}

#textAreaCode{
    margin-right: 50px;
    margin-left: 50px;
    resize: none;
}

.form-control{
    resize: none;
}

#aceptButtonModal{
    color: white;
    background-color: rgba(41, 41, 41, 0.9);
    height: 40px;
    margin-right: 0px;
}

#addAnotherQuestionButton{
    color: white;
    background-color: rgba(41, 41, 41, 0.9);
    float: left;
    height: 40px;
    margin-right:160px;
}

#addAnotherQuestionButton::before{
    font-family: "Font Awesome\ 5 Free";
    color: white;
    background-color: rgba(41, 41, 41, 0.9);
    float: left;
}

#textButtonReloadPage{
    margin-left: 5px;
}

#modalAdd{
    background-color: rgba(0, 163, 0, 0.76);
}

#questionTittleNewQuestion{
    font-size: 15px;
    margin-left: 10px;
}