.nav-item{
    margin-right: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 200px;
}

.navBar{
    position: fixed;
    top: 0px;
}

#ContentTeacherView{
    padding: 10px;
    margin-top: 20px;
}

.fa-home{
    font-size: 30px;    
}

#imagenUsach{
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 100px;
    width: 95%;
    height: auto;
}

#footerViewTeacher{
    background: rgba(251,176,74,0.3);
    margin-top: 500px;
    margin-left: 20px;
    text-align: center;
    width: 95%;
    height: auto;
    border-radius: 50px;
}

.navbar{
    background-color: rgba(54, 54, 54, 0.71);
}

.SearchElement{
    z-index: 100;
}